#home {
    position: absolute;
    top: 25px;
    left: 680px;
    width: 30px;
}

#doc {
    position: absolute;
    top: 23px;
    left: 735px;
    width: 32px;
}

#bitacora {
    position: absolute;
    top: 23px;
    left: 785px;
    width: 29px;
}

#formu3 {
    position: relative;
    color: aliceblue;
    width: 80%;
    top: 0px;
    left: 100px;
    z-index: 1;
}

#ui-id-5 {
    z-index: 100 !important;
}

#ui-id-116 {
    z-index: 100 !important;
}

.ui-front {
    z-index: 100 !important;
}

#img_usr_2 {
    position: absolute;
    top: 43%;
    left: 27%;
    width: 45px;
    display: none;
}

#reg_2 {
    position: absolute;
    top: 51%;
    left: 27%;
    width: 45px;
    display: none;
}

#data_small_device {
    position: absolute;
    top: 20px;
    left: 27%;
    width: 8%;
    height: 93%;
    background-color: rgb(148, 148, 148);
    z-index: 1;
    display: none;
}

#close_2 {
    position: relative;
    left: 0px;
    top: 10px;
    width: 50px;
    z-index: 1;
}

#bis {
    position: absolute;
    top: 22px;
    left: 835px;
    width: 29px;
}

#help {
    position: absolute;
    top: 24px;
    left: 885px;
    width: 30px;
}

#logout {
    position: absolute;
    top: 22px;
    left: 75%;
    width: 30px;
}

#btn_window {
    position: relative;
    font-size: 12px;
    top: 40px;
    left: 85%;
}

#menu_encabezado {
    position: absolute;
    overflow: hidden;
    left: 660px;
    width: 1140px;
    height: 300px;
}

#linea_menu {
    position: absolute;
    top: 65px;
    left: 0px;
    width: 1065px;
    border-bottom: 2px solid #c7c7c7;
}

#linea_menu2 {
    position: absolute;
    top: 65px;
    left: -1100px;
    width: 1100px;
    border-bottom: 2px solid #2479e9;
}

#logo {
    position: absolute;
    width: 600px;
    left: 30px;
    top: 10px;
}

#encabezado_p {
    position: absolute;
    overflow: hidden;
    left: 90px;
    top: 5px;
    width: 94%;
    height: 80px;
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
    box-shadow: -10px 10px 10px -10px black;
}